{% extends 'blog/base.html' %}

{% block title %} Sobre nos {% endblock %}

{% block content %}
<div class='container '>
    <div class="titulo-about-us">
        <h3>Sobre nós </h3>
    </div>
    <div class="text-about-us">
        <p> Este é um blog com o propósito de reunir informações sobre a história e tradições dos
            blocos carnavalescos que fazem parte da cidade de Olinda-PE. </p>
        <p> Obs. Este é um projeto para fixaxão de estudo em programação web com Django Framework.</p>
    </div>
</div>
{% endblock %}