.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	background-color: #4682B4;
}

.navbar .navbar-brand {
	color: #FFF;
}

.navbar .navbar-brand:hover {
	color: #FFF;
}

.navbar .nav-item .nav-link {
	color: #FFF;
	transition: .5s;
}

.navbar .nav-item .nav-link:hover {
	background-color: #FFF;
	color:#4682B4;
}

.submenu-auth{
	background-color: #FFF;
	position: relative;
	top: -16px;
	width: 100%;
	padding: 10px;
}

.card {
	margin: auto;
	margin-top: 30px;
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
}

.card .btn-primary {
	background-color: #4682B4;
	border-color: #4682B4;
}

.card .btn-primary:hover {
	background-color: #FFF;
	color: #4682B4;
}

.row .jumbotron {
	background-color: #4682B4;
	color: #FFF;
	margin-top: 50px;
}

.card .btn.btn-primary {
	margin: auto;
	display: block;
}

.card-title{
	height: 50px;
}

.logged-in-p{
	color: #000000;
	padding: 10PX;
	width: 100%;
}

.container .step-links{
	display: block;
	width: 200px;
	margin: 30px auto;
	height: 50px;
	position: relative;
	text-align: center;
	padding-top: 15px;
}

.step-links a{
	color: #4682b4;
	transition: .5s;
}

.step-links a:hover{
	color: #000000;
}

/* footer */

body footer{
	height: 50px;
	position: relative;
	border-top: 3px solid #4682B4;
}

footer .copy{
	position: absolute;
	bottom: 15px;
	margin: auto;
	width: 100%;
	text-align: center;
}

.btn-add-post{
	background-color: #4682B4;
	color: #FFF;
	cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.btn-edit-post{
	background-color: #4682B4;
	color: #FFF;
	cursor: pointer;
    margin: 5px;
    font-size: 20px;
    
}

.btn-delete-post{
	background-color: #ff0000;
	color: #FFF;
	cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.edit-post{
	text-align: center;
	margin-top: 10px;
}

.text-about-us{
	margin-top: 30px;
}

.titulo-about-us{
	margin-top: 10px;
}

.btn-contact{
	background-color: #4682B4;
	color: #FFF;
	cursor: pointer;
    margin: 5px;
    font-size: 20px;
}